<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fake naver</title>
  </head>
  <body>
    <form action="https://search.naver.com/search.naver">
      네이버 검색 : <input type = "text" name = "query">
      <input type = "submit" value="Search">
    </form>
  </body>
</html>
